li{
    list-style-type: none;
  
}
a{
    text-decoration: none;
}
.left{
    font-size: 24px;
    color:#f9faf8;
    display:flex;
 
}
.header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-around;
}
.links , a{
    font-size: 18px;
    color:#E5E7EB;
}
ul{
    display:flex;
    margin:0;
    padding:0;
    gap:16px;
}

